:root {
  background-color: #282c34;
}

.App {
  text-align: center;
   color: white;
}

.AppLogo {
  height: 10vmin;
  pointer-events: none;
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogoSpin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: solid 1px;
  border-color: #61dafb;
}

.GroceryList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.ProductGroup{
  background-color: #1f2229;
  font-size: calc(10px + 2vmin);
  color:  #aabdc2;
  padding: 10px;
}

.GoodRecord{
  display:flex;
  align-items:center;
  justify-content: space-between;
  font-size: calc(6px + 1vmin);
  color:  #61dafb;
  padding: 5px;
}

.GoodRecord_borderBottom{
  border-bottom: 2px solid #2e3646;
}

.GoodTextContainer{
  text-align: start;
}

.GoodTextContainer_fontWeight_bold {
font-weight: 700;
}

.CartList {
  padding: 20px;
  position: sticky;
  bottom: 0;
  border-top: solid 1px;
  border-color: #61dafb;
  background-color: #282c34;
}

.QuantityInput{
  width: 50px;
}

.Total {
  text-align: end;
  font-weight: 700;
  font-size: calc(6px + 1vmin);
  color:  #61dafb;
}

.ExchangeRate{
  font-size: calc(10px + 2vmin);
  margin-left: 10px;
  width: 100px;
}
